body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url(1147103-1920x1080-desktop-full-hd-bodybuilding-background.jpg);
    background-size: cover;
    background-position: center top; /* Fokus på toppen */
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.tack{
    padding-top: 100px;
}
header {
    background-color: #000000;
    padding: 20px 20px; 
    height: 1.5cm;
    margin-bottom: -40px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.meny{
    display: flex;
    justify-content: flex-end;
}

nav {
    float: right;
    padding-right: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav li {
    margin: 0;
    padding: 20px;
}

nav a {
    display: block;
    padding: 15px 20px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

nav a:hover {
    background-color:  rgb(235, 151, 49);
}

#container {
    width: 100%;
    max-width: 1800px;
    margin: 105px auto;
    background-color: #000000;
    border-radius: 10px;
    height: auto;
    min-height: 1000px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}
#img1{
    padding-left: 40px;
    width: 600px;
}
#img2{
    padding-right: 20px;
    padding-bottom: 20px;
    width: 600px;
}

.content-section {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    
}

.image-container {
    flex: 1;
    width: 95%;
    max-width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-section2{
    padding-bottom: 100px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.text-container {
    flex: 1;
    padding: 20px;
    background-color: #000000;
    color: #fff;
    position: relative;
    z-index: 2;
    
}

.text-container a{
    display: inline-block;
    margin: 0 auto;
}
.text-container li{
    line-height: 4;
    font-family: "monospace";
    font-size: 20px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}
.logo-img{
    height: 70px;
    width: auto;
    border-radius: 10px;

}
.schema{
    text-align: center;
}
.schema li{
    list-style-type: none;
}
.mobilmeny{
    display: none;
}
h1{
    position: absolute;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
    padding: 0;
}
h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
    
}
#meny ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* om du vill ha horisontell meny */
  gap: 10px;
}

#meny li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff; /* valfri färg */
  color: #000;
  font-size: 14.5px;
  text-decoration: none;
  border-radius: 12px; /* gör hörnen runda */
  transition: background-color 0.3s ease;
}

#meny li a:hover {
  background-color: #ff9e4e; /* lite mörkare vid hover */
}


@media (max-width: 768px) {
    .content-section {
        flex-direction: column;
        align-items: center;
        width: 95%;
        padding-top: 10px;
    }
    .logo-container{
        justify-content: center;
        width: 100%;
        order: 1;
    }
    nav ul {
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        float: none;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    h1{
        text-align: center;
        position: static;
        margin-bottom: 10px;
        order: 2;
        width: 100%;
        padding: 10px 0;
        transform: none;
        padding-left: 40px;
        display: none;
    }
    #meny-knapp {
        display: block;
        z-index: 1001;
        width: 70px;
        height: 40px;
        margin-top: 10px;
        font-size: 20px;
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }
    .mobilmeny {
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1001;
    }
    

    #meny {
        display: none;
        flex-direction: column;
        position: relative;
        top: 80px;
        left: 0;
        width: 100%;
        height: 300px;
        background-color: white;
        border-top: 1px solid #ccc;
        z-index: 1000;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    

    #meny.visad {
        position: fixed;
        display: flex;
        background-color: rgb(0, 0, 0);
        position: absolute;
        height: auto;
        z-index: 9999;
    }

    #meny ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding-left: 0;
        padding-bottom: 10px;
    }
    #meny a{
        border: 2px solid black;
        border-radius: 20px;
        padding: 12px;
        width: 150px;
    }
    #meny a::after{
        display: none;
    }
    
    header {
        display: flex; /* Använd flexbox för att styra innehållet */
        flex-direction: column; /* Placera innehåll i en kolumn */
        align-items: center; /* Centrerar innehållet horisontellt */
        justify-content: center; /* Centrerar innehållet vertikalt */
        text-align: center; /* Centrerar eventuell text */
        height: 40px; /* Justera höjden efter behov */
        gap: 10px;
        position: relative;
    }
    .buttonBilder,
    .buttonVideos{
        padding: 20px;
    }
    
    .bilder-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .bilder-container img {
        width: 100% !important;
        height: 100%;
        max-height: 300px;
        object-fit: contain;
    }
    .bilder-skalad {
        transform: scale(1);
        transform-origin: top center;
      }
    
    #container {
        width: 90%;
        padding: 20px; 
        
    }
    .tack{
        display: flex;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        align-items: center;
        padding-top: 200px;
    }
    .meny{
        display: none;
    }
    #img1, #img2{
        padding: 0;
    }
    .text-container{
        line-height: 0;
    }
    .text-container li{
        line-height: 2.5;
    }
    .text-container img{
        order: 1;
    }
    .text-container{
        order: 2;
    }
    .text-container .buttons{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .text-container .buttons button{
        width: 200px;
        padding: 40px
    }
    .bilder-container {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 20px;
        padding: 10px;
    }
    .bilder-container img {
        width: 95%;
        max-width: 95%;
        height: auto;
        margin: 0 auto;
    }
    #hitta img{
        height: auto;
        width: 95%;
        margin-top: 40px;
    }
    #hitta p{
        padding-bottom: 20px;
    }
    #img1, #img2{
        height: 400px;
    }
    #img2 {
        width: 100%;
        object-position: 20% center !important;
    }
    .medlem-lista {
        display: flex;
        justify-content: center;
        gap: 100px !important;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    .medlem-intro p{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .junior, .senior{
        margin: 0;
        padding: 0;
    }
    .senior ul, .junior ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }
    .senior li, .junior li {
        margin: 10px 0;
    }
    .contactform{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 95%;
        padding: 0 !important;
    }
    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px; 
        box-sizing: border-box;
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical;
      }
      input[type=email], select, textarea {
        width: 100%; 
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px; 
        box-sizing: border-box;
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }
      h4{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 50px;
        padding-left: 10px;
        font-size: 18px;
      }
      body::before {
        background-attachment: scroll; /* För bättre prestanda */
        background-position: center top;
      }

}
.omossp{
    text-align: center;
    padding-top: 50px;
}
.karta{
    width: 30%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    
}
.knappKartor{
    align-items: center;
    height: 20%;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: #000000;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    font-size: medium;


}
.knappKartor:hover{
    background-color: #ff9e4e;
    
}
.video1{
    height: 250px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 100%;
    padding: 0;
    margin: 0 auto; 
}

.buttons button {
    display: inline-block;
    padding: 40px 100px;
    align-items: center;
    font-size: 20px;
    font-style: monospace;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #000000;
}
.buttons button:hover{
    border-color: white;
    background-color: rgb(235, 151, 49);
}
#hitta{
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.medlemmar{
    padding: 0;
    margin: 0;
    height: 100%;
}
.uppdaterad{
    position: absolute;
    bottom: 0;

}
.bilder-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    gap: 20px;
    object-fit: cover;
    margin: 0 auto;
    padding: 20px; 
}
.bilder-container img {
    width: 80%;
    height: 500px;
    max-height: 100%;
    border-radius: 5px; 
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.bilder-skalad {
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
  }
.kontakter {
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding-left: 20px;
    font-size: large;
    color: white;
}
.kontakter h2{
    color: white;
}
.contactform {
    border-radius: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    text-align: left;
    padding-left: 80px;
    color: white;
  }
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  h4{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 18px;
  }
  .medlemskap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  .medlem-intro{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .medlem-lista{
    display: flex;
    gap: 240px;
    font-size: 20px;
    padding: 40px;
  }
  .senior li, .junior li{
    margin-bottom: 20px;
  }
  .senior li:first-child, .junior li:first-child{
    list-style: none;
  }
  footer{
    background-color: #000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons{
    display: flex;
    align-items: center;
    gap: 40px;
  }
  