body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body::before {
    content: "";
    background-image: url(1147103-1920x1080-desktop-full-hd-bodybuilding-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    background-attachment: fixed;
}

.welcome{
    display: none;
}
header {
    background-color: #000000;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.meny{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    order: 2;
    white-space: nowrap;
}

nav {
    float: right;
    padding-right: 50px;
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
}
.hemtext{
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

nav li {
    margin: 0;
    padding: 20px;
}

nav a {
    display: block;
    padding: 15px 20px;
    background-color: #ffffff;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

nav a:hover {
    background-color:  rgb(235, 151, 49);
}

#container {
    width: 100%;
    max-width: 1800px;
    margin: 105px auto;
    background-color: #000000;
    border-radius: 10px;
    height: auto;
    min-height: 1000px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}
#img1{
    padding-left: 40px;
    width: 600px;
}
#img2{
    padding-right: 20px;
    padding-bottom: 20px;
    width: 600px;
}

.content-section {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    
}

.image-container {
    flex: 1;
    width: 95%;
    max-width: 95%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-section2{
    padding-bottom: 100px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

.text-container {
    flex: 1;
    padding: 0;
    background-color: #000000;
    color: #fff;
    position: relative;
    z-index: 2;
    
}

.text-container a{
    display: inline-block;
    margin: 0 auto;
}
.text-container li{
    line-height: 4;
    font-size: 20px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    flex-shrink: 0;
    order: 0;
}
.logo-img{
    height: 70px;
    width: auto;
    border-radius: 10px;

}
.schema{
    text-align: center;
}
.schema li{
    list-style-type: none;
}
.mobilmeny{
    display: none;
}

h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    margin: 0;
    font-size: 1.6rem;
    pointer-events: none;
    transition: opacity 0.3s ease;
    color: white;
}
h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    color: white;
    
}
#meny ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

#meny li a {
  display: flex;
  justify-content: center;
  height: 16px;
  width: 90px;
  background-color: #ffffff;
  color: #000;
  font-size: 14.5px;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}
#meny li{
    padding: 10px;
}

#meny li a:hover {
  background-color: #ff9e4e;
}
.omossp{
    text-align: center;
    padding-top: 50px;
}
.karta{
    width: 30%;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    
}
.knappKartor{
    align-items: center;
    height: 20%;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
    border-color: #000000;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    font-size: medium;


}
.knappKartor:hover{
    background-color: #ff9e4e;
    
}
.video1{
    height: 250px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    width: 100%;
    padding: 0;
    margin: 0 auto; 
}

.buttons button {
    display: inline-block;
    padding: 40px 100px;
    align-items: center;
    font-size: 20px;
    font-style: monospace;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #000000;
}
.buttons button:hover{
    border-color: white;
    background-color: rgb(235, 151, 49);
}
#hitta{
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.medlemmar{
    padding: 0;
    margin: 0;
    height: 100%;
}
.uppdaterad{
    position: absolute;
    bottom: 0;

}
.bilder-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 100%;
    gap: 20px;
    object-fit: cover;
    margin: 0 auto;
    padding: 20px; 
}
.bilder-container img {
    width: 80%;
    height: 500px;
    max-height: 100%;
    border-radius: 5px; 
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.bilder-skalad {
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
  }
.kontakter {
    display: flex;
    gap: 100px;
    flex-direction: column;
    padding-left: 20px;
    font-size: large;
    color: white;
}
.kontakter h2{
    color: white;
}
.contactform {
    border-radius: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    text-align: left;
    padding-left: 80px;
    color: white;
  }
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  h4{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 18px;
  }
  .medlemskap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  .medlem-intro{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .medlem-lista{
    display: flex;
    gap: 240px;
    font-size: 20px;
    padding: 40px;
  }
  .senior li, .junior li{
    margin-bottom: 20px;
  }
  .senior li:first-child, .junior li:first-child{
    list-style: none;
  }
  footer{
    background-color: #000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icons{
    display: flex;
    align-items: center;
    gap: 40px;
  }

.whitespace{
    background-color: #1b0d00;
    width: 100%;
    height: 50px;
    z-index: 9000;
    background: linear-gradient(90deg, rgb(128, 77, 0), transparent, rgb(128, 77, 0), transparent, rgb(128, 77, 0) , transparent, rgb(128, 77, 0)) border-box;
}
.nyheter-container h2{
    padding-top: 50px;
    padding-bottom: 20px;
}

.nyheter {
  display: flex;          /* Sätter nav bredvid varandra */
  gap: 400px;              /* Mellanrum mellan kolumnerna */
  max-width: 1000px;
  margin: 0 auto;
  color: white;
  text-align: center;
  justify-content: center;
  padding-bottom: 100px;
}

.nyheter-nav {
  display: inline-block; /* Gör så att nav tar så mycket plats som innehållet */
  vertical-align: top;   /* Se till att kolumnerna ligger i linje */
  margin: 0 20px;        /* Luft mellan kolumnerna */
}

.nyheter-nav ul {
  display: block;   /* Standard, listan blir lodrät */
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.nyheter-nav li {
  display: list-item; /* Standard, varje li på egen rad */
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}


.nyheter-nav li:last-child {
  border-bottom: none;
}










  